<h1>Odin Flicker API</h1>

<%= form_with model: @pages, method: :get do |form| %>
  <%= form.label :flickr_user_id, 'Enter Flickr user ID: ' %>
  <%= form.text_field :flickr_user_id %>
  <%= form.submit 'Search' %>
<% end %>

<% if params[:commit] %>
  <% @user_photos.each do |photo| %>
    <img src="<%="http://farm#{photo.farm}.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}"%>.jpg">
  <% end %>
<% end %>
